
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body style="background-image: url(images/DIW4.jpg);">
		<center>
		<div style="padding-left: 3cm; border-radius: 50%; border-color: paleturquoise; ">
		
<p style="color: red;text-align: justify; font-style: italic; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">May the supreme light illumine your minds, <br> enlighten your hearts and strengthen the human bonds in your homes and communities.</p>
          <p style="color: orange; text-align: justify;font-style: italic; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">May this Diwali fill into our lives new hopes for future and new dreams for tomorrow.<br> With lots of love, wishing you a very Happy Diwali 2021</p>
       
		</div>
	</center>
         
          
          
          
          <!--/stories-->
          
     
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/form.js"></script>
	</body>
</html>